/********** Template CSS **********/
:root {
    --primary: #000000;
    --secondary: #FE8800;
    --light: #000000;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    border-radius: 19px;
    transition: .5s;
    width: 7rem;
}

.btn.btn-success {
    color: #FFFFFF;
    margin: 14rem 0rem 0rem 10rem;
    
}

.btn.btn-outline-success{
    margin: 16rem 0rem 1rem 0rem;
}
.btn-lg-square{
    width: 50px;
    border-radius: 50%;
}

.col-6{
    width: 57%;
    margin: -36% 50% 0% 44%;
    text-align: center;
    box-shadow: 0px 0px 6px 2px #435438;
}
h5{
    margin-top: -30px;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #000000;
}

/*** Navbar ***/
 .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

 .navbar-nav .nav-link:hover,
 .navbar-nav .nav-link.active {
    color: var(--dark) !important;
}

 .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top {
        position: relative;
        background: #FFFFFF;
    }

     .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

     .navbar-nav .nav-link,
    .sticky-top .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

     .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar{
        background-color: #70C86E;
        width: 100%;
    }
    
    .sticky-top {
        position: fixed;
        background: #70C86E;
    }

     .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

     .navbar-nav .nav-link:hover::before,
     .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

     .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

.ini{
    margin-left: 6rem;
    width: 43rem;
}
.itu{
    background-color: #70C86E;
    margin-right: 33rem;
    width: 12rem;
}
.situ{
    background-color: #5c8cd2;
    width: 11rem;
}
.sini{
    margin-right: -15rem;
    margin-top: -20rem;
    margin: -24rem 0rem 0rem -13rem;
}
.foto img{
    width: 32%;
    margin-right: 20rem;
}
.wis{
    margin-right: 70rem;
}
.orca img{
    width: 45%;
}
.orca{
    width: 30rem;
}
.orca 
h5{
    margin-left: 1rem;
    margin-top: 2px;
}
.orca 
p{
    color: #000000;
    margin-left: 1rem;
    font-size: 25px;
    margin-top: 11px;
}
.progress-bar{
    background-color: #ea882d;
}


/*** Hero Header ***/
.hero-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}