body {
    background-color: e5e5e5e5;
}

* {
    box-sizing: border-box;

  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
    
}

.row {
    height: 100%;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.index-header {
    position: relative;
    /* left:30px;  */
    top:10px;
    left: 7%;
}

.balance-box {
    position: relative;
    width: 450px;
    /* left: 80px; */
    left: 15%;
    /* top: 115px; */
    margin-bottom: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5px;
}


.box-text {
    padding-left: 15px;
    padding-top: 15px;
}


.recent-transaction-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 375px;
    height: 425px;
    left: 15%;
    top: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5px;
}

.transaction-col {
    box-sizing: border-box;
    flex-grow: 1;

    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    /* width: auto; */
    height: 50px;
    left: 20%px;
    top: 5px;

    background: #FFFFFF;
    border: 1px solid black;
}

a:link, a:visited {
    background-color: #70C86E;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10.5px;
    margin-top: 40px;
}

a:hover, a:active {
    background-color: #70c8706D;
}

@media screen and (max-width: 950px) {
    .column {
        width: 70%;
    }
    div {
        width: 70%
    }
}

p {
    font-size: large;
    font-weight: 600;
}

/* D9D9D9 */